.login-wrap { 
    padding:4rem 0;  @include fCC(); 
    .login-inner { 
        width:95%; max-width: 480px; margin: 0 auto; float:none;
        .login-heading { 
            width: 100%;  float: left; margin: 0 0 2rem 0; text-align: center;  @include cutthecrap(); color: $white; font-size: 30px; 
            span { display: block; margin-top: 1rem; @include latomedium(); font-size: 14px;  }
        }
        .login-container { 
            width: 100%;  float: left;  background:$black9; padding: 2rem;
                .login-field { 
                    width: 100%; float: left; margin-top: 1rem; margin-bottom: 1rem;
                    p {width: 100%;  float: left; margin:0 0 0.8rem 0; text-align: left; @include latomedium(); color: $white2; font-size: 16px; }
                    .login-errormsg {display: none; width: 100%;  float: left; margin: 0.4rem 0 0 0; text-align: left; @include latomedium(); color: $red; font-size: 12px;  }
                    .login-input { width: 100%; float: left; background-color: $white; padding:0.8rem; margin:0; border: 0; outline: 0; text-align: left;  @include latomedium(); color: $black5; font-size: 12px; }
                    input[type="checkbox"] { display: none; }
                    .login-border { border: solid 1px $red; }
                    .login-termagree { position: relative; width: auto; float: left; padding:0 0 0 24px; margin:0; cursor: pointer; text-align: left;  @include latomedium(); color: $white; font-size: 14px; line-height: 20px; }
                    .login-termagree:before{ content: ''; position: absolute; left: 0; top: 0; z-index: 1; background:$black2; border-radius:0; outline: none; float: left; width: 14px; height: 14px; border: solid 1px $white; }
                    input[type="checkbox"]:checked + .login-termagree:before{ background:$blue; border-color: $blue;  }
                    .login-termagree:after{ content: ''; position: absolute; left: 2px; top: 3px; z-index: 2; opacity: 0; transform: rotate(-45deg); background:none; border-radius:0; outline: none; float: left; width:9px; height:4px; border-left: solid 2px $white;  border-bottom: solid 2px $white; }
                    input[type="checkbox"]:checked + .login-termagree:after{ opacity:1; }   
                    .login-term {
                         display: inline-block; text-align: left;  @include latomedium(); font-size: 14px; line-height: 20px; display: inline-block;  margin:0 0.2rem; cursor: pointer; color: $blue; @include outT(); @include tdu();
                        &:hover { color: $white; @include tdn();  @include inT(); }
                        &.tn2 { color: $white; text-decoration: none; cursor:auto;  }
                        &.tn1 {  margin-left: 0.4rem; }
                    }
                    .login-submit { 
                        position: relative; z-index: 1; overflow: hidden; width: auto; height: auto; border: solid 1px $green4;  float: left; padding:0.7rem 1.4rem; background-color:$green4;  @include latosemibold();  line-height: 1; font-size: 14px;  color:$white;  text-align: center; @include outT(); cursor: pointer;  @include fCC(); @include tdn();
                        &:hover { background: $black2; color: $green4;  @include inT(); }
                        &.disabaled { 
                            color:$white; background-color:$gray; border-color: $gray;  user-select: none; pointer-events: none; 
                        }
                    }
                }
        }
        .login-footer { 
            width: 100%;  float: left; margin: 2rem 0; @include fCC();  
            span { display: block; margin-right: 1rem; @include latosemibold(); font-size: 16px; color:$white;  }
            a { 
                display: inline-block; width: auto; height: auto; border: solid 1px $green4; padding:0.7rem 1.4rem; background-color:$green4;  @include latosemibold();  line-height: 1; font-size: 14px; color:$white;  text-align: center; @include outT(); cursor: pointer;  @include tdn();
                &:hover { background: $black2; color: $green4;  @include inT(); }
            }
        }
    }

}
 







@media only screen and (max-width:1255px) 
{
 
 
}
@media only screen and (max-width:1023px) 
{
 
}
@media only screen and (max-width:767px) 
{
 
}
@media only screen and (max-width:599px) 
{

    .login-wrap { 
         padding:3rem 0 5rem 0;  
        .login-inner { 
            .login-heading { 
                margin: 0 0 1.5rem 0; font-size: 24px; 
                span {  margin-top:0.5rem;  font-size: 12px;  }
            }
            .login-container { 
                padding:1rem;
                    .login-field { 
                        margin-top:0.7rem; margin-bottom:0.7rem;
                        p { margin:0 0 0.6rem 0; font-size: 14px; }
                        .login-errormsg { margin: 0.4rem 0 0 0; font-size: 11px;  }
                        .login-input { padding:0.7rem;  font-size: 12px; }
                        .login-termagree { font-size: 12px;  }
                        .login-term {  font-size: 12px;  }
                    }
            }
            .login-footer { 
                margin:2rem 0; flex-direction: column;
                span { margin-right: 0;  margin-bottom:1.5rem;  }
            }
        }
    
    }

}
@media only screen and (max-width:479px) 
{
 
}